<a href="https://colab.research.google.com/github/SajidMajeed92/Data-Structures-Algorithms-with-Python/blob/main/BasicCommands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**# Basics of Python**

In [1]:
print("Learning Python")

Learning Python

***Comments in Python***

In [3]:
# Assign a value 25 to number (# symbol used for Comments)
number = 25
number

25

***Operators in Python***

In [11]:
# Arithmetic Operators
# We can perform some basic arithmetic operations such as addition, subtraction, multiplication, etc. using Python.
#Example:

x = 20
y = 3
print(x + y)    # Addition
print(x * y)    # Multiplication
print(x - y)    # Substraction
print(x / y)    # Division
print(x % y)    # Modulus
print(x ** y)   # Exponent
print(x // y)   # Floor

23
60
17
6.666666666666667
2
8000
6


***Comparison Operator***

In [14]:
# These are used to compare two values
# Gives a Boolean result (True/False)

# Numeric Calculation
number_1 = 25
number_2 = 30

print(number_1 >  number_2)
print(number_1 <  number_2)
print(number_1 == number_2)
print(number_1 != number_2)
print(number_1 >= number_2)
print(number_1 <= number_2)

False
True
False
True
False
True

In [26]:
# Other Comparision
fruit= "Apple"
print (fruit == 'Apple')	
print (fruit != 'Apple')	
print (fruit < 'Apple')	
print (fruit > 'Apple')	
print (fruit <= 'Apple')	
print (fruit >= 'Apple')

True
False
False
False
True
True

**Logical Operator**

In [31]:
# Logical operators are used to combine conditional statements
# Gives a Boolean result (True/False)
number_1 = 25
print (number_1<10 and number_1>50) 
print (number_1>10 and number_1<50)
print (number_1>10 or number_1<50)
print (number_1<10 or number_1>50)

False
True
True
False