<a href="https://colab.research.google.com/github/SajidMajeed92/Data-Structures-Algorithms-with-Python/blob/main/BasicCommands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basics of Python**

In [ ]:
print("Learning Python")

Learning Python

**Comments in Python**

In [ ]:
# Assign a value 25 to number (# symbol used for Comments)
number = 25
number

25

**Operators in Python**

In [ ]:
# Arithmetic Operators
# We can perform some basic arithmetic operations such as addition, subtraction, multiplication, etc. using Python.
#Example:

x = 20
y = 3
print(x + y)    # Addition
print(x * y)    # Multiplication
print(x - y)    # Substraction
print(x / y)    # Division
print(x % y)    # Modulus
print(x ** y)   # Exponent
print(x // y)   # Floor

23
60
17
6.666666666666667
2
8000
6


**Comparison Operator**

In [ ]:
# These are used to compare two values
# Gives a Boolean result (True/False)

# Numeric Calculation
number_1 = 25
number_2 = 30

print(number_1 >  number_2)
print(number_1 <  number_2)
print(number_1 == number_2)
print(number_1 != number_2)
print(number_1 >= number_2)
print(number_1 <= number_2)

False
True
False
True
False
True

In [ ]:
# Other Comparision
fruit= "Apple"
print (fruit == 'Apple')	
print (fruit != 'Apple')	
print (fruit < 'Apple')	
print (fruit > 'Apple')	
print (fruit <= 'Apple')	
print (fruit >= 'Apple')

True
False
False
False
True
True

**Logical Operator**

In [ ]:
# Logical operators are used to combine conditional statements
# Gives a Boolean result (True/False)
number_1 = 25
print (number_1<10 and number_1>50) 
print (number_1>10 and number_1<50)
print (number_1>10 or number_1<50)
print (number_1<10 or number_1>50)

False
True
True
False

**Variable**

In [ ]:
# A variable can be considered as a storage container for data.
# Every variable will have a name.
# It is a good way to store information while making it easy to refer to that information in our code later.
# The equal sign (=) is used to assign values to variables.
# The syntax for assigning values to a variable is as follows: Variable name = value or information.

Name = "Sajid"
Age = 30
IP = "192.168.0.0"
print (Name)
print (Age)
print (IP)

Sajid
30
192.168.0.0

**Input and Output in Python**

In [ ]:
# Print Function
print ("Data Structure with Python")
# Input Function
age  = int(input("What is your Age:"))
print (age)
print(type(age))
name = input("What is your Name:")
print (name)
print(type(name))
x= 2*2**3
print(x)

Data Structure with Python
What is your Age:2
2
<class 'int'>
What is your Name:sajid
sajid
<class 'str'>
16

**Task Excercise**<br>
**1-Consider two numbers, a = 4, b = 16. Write a Python program to print the sum of these two numbers.**<br>
**2- Write a Python program to take a number from the user as input and print the cube of the number.**

In [ ]:
#Task 1
# Take two number a & B
a = 4
b = 16
print(a+b)

#Task 2
number = int (input("Enter Your Number:"))
print(number**3)

20
Enter Your Number:3
27