<a href="https://colab.research.google.com/github/SajidMajeed92/Data-Structures-Algorithms-with-Python/blob/main/Introduction_%26_Implementation_of_List_%26_Tuple_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**<br>
Lists are used to store multiple items in a single variable.<br>
Declaring a List is fairly straightforward. You use square brackets ([]) and separate the items by a comma. <br>Let me write an example -<br>
A = ["Meat", "Ali", 48851964400, 3.14, "Bread"]<br><br>
Lists are mutable. Say if you want to change some item on a List, you can do that. For example, if I don’t like 'Meat', and want to replace this with 'Morning Walk', I can do it –<br>
A = ["Morning Walk", "Leuven", 48851964400, 3.14, "Mom"] <br><br>
Some essential features of Python lists are:<br>
* Collection of values
* Can be of any data type
* Can be a combination of different types

In [ ]:
fruit_list = ["Apple","Berry","Banana","Pine Apple"]
print(fruit_list)

['Apple', 'Berry', 'Banana', 'Pine Apple']

**List Method**

In [20]:
#.append()
#In Python, you can add values to the end of a list using the .append() method.

fruit_list = ["Apple","Berry","Banana","Pine Apple","Banana"]
print(fruit_list)
fruit_list.append("Guava")
print(fruit_list)

#.count()
#The .count() Python list method searches a list for whatever search term it receives as an argument, then returns the number of matching entries found.

fruit=fruit_list.count("Banana")
print(fruit)

#len()
#The Python len() function can be used to determine the number of items found in the list it accepts as an argument.

print(len(fruit_list))

#.sort()
#The .sort() Python list method will sort the contents of whatever list it is called on. Numerical lists will be sorted in ascending order, and lists of Strings will be sorted into alphabetical order. It modifies the original list, and has no return value.

fruit_list.sort()
print(fruit_list)

# .index
print(fruit_list.index("Guava"))

# Create new List

l= ["Kiwi","Raspberry","Orange"]
print(l)

# Concatination of two list
new_list = fruit_list + l
print(new_list)

['Apple', 'Berry', 'Banana', 'Pine Apple', 'Banana']
['Apple', 'Berry', 'Banana', 'Pine Apple', 'Banana', 'Guava']
2
6
['Apple', 'Banana', 'Banana', 'Berry', 'Guava', 'Pine Apple']
4
['Kiwi', 'Raspberry', 'Orange']
['Apple', 'Banana', 'Banana', 'Berry', 'Guava', 'Pine Apple', 'Kiwi', 'Raspberry', 'Orange']

**TUPLE** 

* Tuple is also an ordered sequence of items as List. Tuple also holds multiple data types.

* The only difference in Tuple & List is that Tuple is immutable; once created it cannot be changed.

* Creating a tuple is as simple as putting different comma-separated values within round brackets.<br>

Example:<br>
A = ('Bread', 'Ahsan', 48851964400, 3.14, 'Egg')

In [2]:
t = (4,5,3,4,5,2,7,2165, 58, 45)
print(len(t))

10

In [4]:
# finding Element in a tuple
print(t[0])
print(t[7])
print(t[110]) # Error here

4
2165

IndexError: ignored

In [5]:
# Assigning New Element in a tuple

t[10]= 240 # Due to Imutable feature tuple doesn't support assignment
print(t)

TypeError: ignored

In [26]:
# functions with tuples
print(t.count(9))
print(t.count(5))
print(t.index(5))
print(sorted(t))
print(len(t))
print(sum(t))
print(max(t))
print(min(t))


# Tuples conatining Elements

tuple_1 = (1,"two",2.5)
print(tuple_1)


# Concatination of tuple
new_tuple = t + tuple_1
print(new_tuple)

0
2
1
[2, 3, 4, 4, 5, 5, 7, 45, 58, 2165]
10
2298
2165
2
(1, 'two', 2.5)
(4, 5, 3, 4, 5, 2, 7, 2165, 58, 45, 1, 'two', 2.5)

In [24]:
a=('hi,') * 6
print(a)

hi,hi,hi,hi,hi,hi,